
<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{schedule.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"> DashBoard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"> Logout</a>
            </li>
        </ul>
        </div>
    </nav>
</div>

<div class="jumbotron text-center" id='header-background'>
    <h1>{{schedule.title}}</h1>
    <h2 class='display-h2'>{{schedule.description}}</h2>
</div>

<table id="grid" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            {{#each dates}}
                <th class="text-center">
                    {{this}}<br>
                </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row}}
        <tr>
            {{#each this}}
                {{#ifeq this "Not Available"}}
                    <td class='red-table-cell'> {{this}}</td>
                {{/ifeq}}
                {{#ifnoteq this "Not Available"}}
                    <td class='green-table-cell'> {{this}}</td>
                {{/ifnoteq}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>

<div id = "comment-container" class="comment-container">
    <div class="comments">
        <form action="/dashboard/{{scheduleId}}" method="POST" id='commentForm'>
        <div class="comment">   
            <div class='comment-img'>
                <embed type="image/svg+xml" src="../public/img/user_icon.svg" />
            </div>                   
            <div class="comment-body">
                <div class="text">
                <label for='commentInput'></label>
                <textarea id='commentInput' class="form-control" name='comment' rows="2" placeholder='Enter your comments here' required></textarea>
                </div>
                <button type="submit"> Submit </button>
            </div>
        </div>
        </form>    
        {{#each notes}}
            <div class="comment">
                <div class='comment-img'>
                    <embed type="image/svg+xml" src="../public/img/user_icon.svg" />
                </div>
                <div class="comment-body">
                    <div class="text">
                        <p>{{this.comment}}</p>
                    </div>
                    <p class="attribution">by {{this.user}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>