  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DashBoard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="fas fa-key"></i> DashBoard</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="jumbotron text-center" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Hong_Kong_at_night.jpg/1400px-Hong_Kong_at_night.jpg); background-size:cover;">
    <h1 style="color:honeydew">Schedule Information</h1>
</div>

<table id="grid" class="table table-bordered table-striped" style="background:wheat">
    <thead>
        <tr>
            <th></th>
            {{#each dates}}
            <th class="text-center">
                {{this}}<br>
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row}}
        <tr>
            {{#each this}}
                <td class="text-nowrap" scope="row"> {{this}}</td>
            {{/each}}
        </tr>
        {{/each}}

    </tbody>
</table>

<div id = "comment-container">
    <div>
        <form action="/dashboard/{{scheduleId}}" method="POST" id='commentForm'>
            <div class="form-group">
                <label for="comment"></label>
                <textarea class="form-control" name='comment' rows="5" id="comment" placeholder='Enter your comments here'></textarea>
            </div>
            <div>
                <button type="submit"> Submit </button>
            </div>
        </form>
    </div>
    <div class="card">
        {{#each notes}}
            <p>{{this.user}}</p>
            <p>{{this.comment}}</p>
            <hr>
        {{/each}}
    </div>
</div>