  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">{{schedule.title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="fas fa-key"></i> DashBoard</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<div class="jumbotron text-center" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Hong_Kong_at_night.jpg/1400px-Hong_Kong_at_night.jpg); background-size:cover;">
    <h1 style="color:honeydew">{{schedule.title}}</h1>
    <h5 style="color:honeydew">{{schedule.description}}</h4>
</div>

<table id="grid" class="table table-bordered table-striped" style="background:#fff;width:70%;margin: auto; table-layout: fixed;">
    <thead>
        <tr>
            <th></th>
            {{#each dates}}
            <th class="text-center">
                {{this}}<br>
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row}}
        <tr style='word-wrap:break-word;'>
            {{#each this}}
                {{#ifeq this "Not Available"}}
                    <td id='td' scope="row" style='text-align:center; vertical-align:middle;' bgcolor="#ff6666"> {{this}}</td>
                {{/ifeq}}
                {{#ifnoteq this "Not Available"}}
                    <td id='td' scope="row" style='text-align:center; vertical-align:middle;' bgcolor="00e64d"> {{this}}</td>
                {{/ifnoteq}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>

<div id = "comment-container" class="comment-container" style='padding-bottom: 45px'>
        <section class="comments">
            <form action="/dashboard/{{scheduleId}}" method="POST" id='commentForm'>
            <article class="comment">      
                <a class="comment-img" href="#non">
                    <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50" />
                </a>                   
                <div class="comment-body">
                    <div class="text">
                    <textarea class="form-control" name='comment' rows="2" id="comment" placeholder='Enter your comments here' required></textarea>
                    </div>
                    <button type="submit"> Submit </button>
                </div>
            </article>
            </form>    
            {{#each notes}}
            <article class="comment">
                <a class="comment-img" href="#non">
                    <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50" />
                </a>             
                <div class="comment-body">
                    <div class="text">
                    <p>{{this.comment}}</p>
                    </div>
                    <p class="attribution">by {{this.user}}</p>
                </div>
            </article>
            {{/each}}
        </section>
</div>