<div class="jumbotron text-center" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Hong_Kong_at_night.jpg/1400px-Hong_Kong_at_night.jpg); background-size:cover;">
    <h1 style="color:honeydew">Schedule Information</h1>
</div>
<input id="dates" type="hidden">
<input id="username" type="hidden">
<table id="grid" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            {{#each dates}}
            <th class="text-center">
                {{this}}<br>
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row}}
        <tr>
            {{#each this}}
                <td class="text-nowrap" scope="row"> {{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>

<div id = "comment-container">
    <div>
        <form action="/dashboard/{{scheduleId}}" method="POST" id='commentForm'>
            <div class="form-group">
                <label for="comment"></label>
                <textarea class="form-control" name='comment' rows="5" id="comment" placeholder='Enter your comments here'></textarea>
            </div>
            <div>
                <button type="submit"> Submit </button>
            </div>
        </form>
    </div>
    <div class="card">
        {{#each notes}}
            <p>{{this.user}}</p>
            <p>{{this.comment}}</p>
            <hr>
        {{/each}}
    </div>
</div>

