 
<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DashBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="/logout"> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
	<ul>
      <li id="scheduleInvited"><a href="#"><span title="Schedules You've Been Invited To">Schedules You've Been Invited To</span></a></li>
	    <li id="scheduleCreate"><a href="#"><span title="Schedules You've Created">Schedules You've Created</span></a></li>
      <li ><a href="/createSchedule"><span title="Create a New Schedule">Create a New Schedule</span></a></li>
	</ul>
</div>

<div class="createdSchedule">
  <div >
    {{#each created_schedules}}
      <div class="row mb-2 wrap">
        <div class="col-md-12">     
          <div class="card-body">
            <div class="row">
              <div class="col-xs-1 col-sm-2 col-md-1 mr-3 cardlocater">
                <br>
              </div>
              <div class="col-xs-16 col-sm-16 col-md-16 cardlocater">
                <a href="/dashboard/{{this._id}}" >
                  <h2 class="article-title">{{this.title}}</h2>
                  <p>{{this.description}}</p>
                </a>
              </div>
              <form action="/dashboard/delete/{{this._id}}" method="POST" id={{this._id}} >
                <div class="animat-button">
                  <button class="hoverable-css" value="{{this._id}}"><span class="anim"></span>DELETE</button>
                </div>
              </form>    
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="invitedSchedule hidden">
	<div>
    {{#each invited_schedules}}
      <div class="row mb-2 wrap">
        <div class="col-md-12">
          <a href="/dashboard/{{this._id}}" >
            <div class="card-body">
              <div class="row">
                <div class="col-xs-1 col-sm-2 col-md-1 mr-3 cardlocater">
                  <br>
                </div>
                <div class="col-xs-16 col-sm-16 col-md-16 cardlocater">
                  <h2 class="article-title">{{this.title}}</h2>
                  <p>{{this.description}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>





<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="public/js/dashboard.js"></script>