  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DashBoard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

<div class="container">
	<ul>
	    <li id="scheduleCreate"><a href="#"><span title="Schedule You've Created">Schedule You've Created</span></a></li>
	    <li id="scheduleInvited"><a href="#"><span title="Schedule You've Been Invited">Schedule You've Been Invited </span></a></li>
      <li ><a href="/createSchedule"><span title="Create Your Own Schedule">Create Your Own Schedule</span></a></li>
	</ul>
</div>
<div class="createdSchedule">
		<div >
      {{#each created_schedules}}
        <div class="row mb-2 wrap">
          <div class="col-md-12">
            <a href="/dashboard/{{this._id}}" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-2 col-md-1 mr-3">
                        <i class="fa fa-tachometer fa-4x "></i></br>
                        </div>
                        <div class="col-xs-8 col-sm-7 col-md-8">
                        <h2 class="article-title">{{this.title}}</h2>
                        <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
      {{/each}}
    </div>
</div>
<div class="invitedSchedule">
		<div >
      {{#each invited_schedules}}
            <div class="row mb-2 wrap">
          <div class="col-md-12">
            <a href="/dashboard/{{this._id}}" >
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-1 col-sm-2 col-md-1 mr-3">
                        <i class="fa fa-tachometer fa-4x "></i></br>
                        </div>
                        <div class="col-xs-8 col-sm-7 col-md-8">
                        <h2 class="article-title">{{this.title}}</h2>
                        <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>
              </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
  $(function () {  
    $('.invitedSchedule').addClass("hidden");
    $('#scheduleCreate').on('click',function(event){
      event.preventDefault();
      $('.invitedSchedule').addClass("hidden");
      $('.createdSchedule').removeClass("hidden");
    })
    $('#scheduleInvited').on('click',function(event){
      event.preventDefault();
      $('.createdSchedule').addClass("hidden");
      $('.invitedSchedule').removeClass("hidden");
    })
    $('.navbar-toggler').on('click', function(event) {
		event.preventDefault();
		$(this).closest('.navbar-minimal').toggleClass('open');
	})
});
</script>