<table style="width:100%">
  <tr>
    <th>Factor</th>
    <th>Value</th> 
  </tr>
  <tr>
    <td>Salary</td>
    <td>{{randomSetting.salary}}</td> 
  </tr>
  <tr>
    <td>Insurance</td>
    <td>{{randomSetting.insurance}}</td> 
  </tr>
    <tr>
    <td>401k</td>
    <td>{{randomSetting.has401k}}</td> 
  </tr>
    <tr>
    <td>Relocation Required</td>
    <td>{{randomSetting.relocationRequired}}</td> 
  </tr>
    <tr>
    <td>Travel Required</td>
    <td>{{randomSetting.travelRequired}}</td> 
  </tr>
    <tr>
    <td>Work Remotely</td>
    <td>{{randomSetting.workRemotely}}</td> 
  </tr>
    <tr>
    <td>Vacation</td>
    <td>{{randomSetting.vacation}}</td> 
  </tr>
</table>