<form action="/inviteForm" method="POST" id='inviteForm' >
    <div class="container">
        <div class="card createScheduleForm">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{#each dates}}
            <label>
                {{this}}
                <br/>
                <fieldset id={{this}}>
                    <input type="radio" name={{this}} value="yes"> Yes<br>
                    <input type="radio" name={{this}} value="no"> No<br>
                </fieldset>
            </label>
            <label>
                Times
                <div class="input_time_fields_wrap">
                    <button class="add_time_field_button">Add Another Time</button>
                    <div>
                        <fieldset id='times'>
                            <select name='times'>
                                <option value="1PM">1 PM</option>
                                <option value="2PM">2 PM</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
            </label>
            <hr>
            {{/each}}
            <button type='submit'> Submit</button>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="public/js/addTime.js"></script>
