
<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DashBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div>
  <form action="/inviteForm" method="POST" id='inviteForm' >
    <div class=" contact">
      <div class="row" id='invite_row'>
        <div class="col-md-3">
          <div class="contact-info">
            <h1 class='inviteForm-h1'>{{title}}</h1>
            <p>{{description}}</p>
          </div>
        </div>
        <div class="col-md-9">
          <div id="datesContainer" class="contact-form">
            <h2 class='inviteForm-h2'>  Select the dates and times you are available for this meeting</h2>
            {{#each dates}}
              <div>
                <div class="form-group">
                  <label class="control-label col-sm-12" for={{this}}>{{this}}</label>
                  <div id={{@index}} class="col-sm-10">         
                    <fieldset>
                      <input id={{this}} type="radio" name={{this}} value="yes" required> Available<br>
                      <input id={{this}} type="radio" name={{this}} value="no" required> Not Available<br>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group" style="display:none"> {{!-- removed name={{@index}}--}}
                  <div class="col-sm-10">   
                    <label for='time' hidden></label>       
                    <fieldset>
                      <input id='time' type="checkbox" value="7 AM" name={{this}}> 7 AM   
                      <input id='time' type="checkbox" value="8 AM" name={{this}}> 8 AM
                      <input id='time' type="checkbox" value="9 AM" name={{this}}> 9 AM
                      <input id='time' type="checkbox" value="10 AM" name={{this}}> 10 AM
                      <input id='time' type="checkbox" value="11 AM" name={{this}}> 11 AM
                      <input id='time' type="checkbox" value="12 PM" name={{this}}> 12 PM
                      <input id='time' type="checkbox" value="1 PM" name={{this}}> 1 PM <br>
                      <input id='time' type="checkbox" value="2 PM" name={{this}}> 2 PM 
                      <input id='time' type="checkbox" value="3 PM" name={{this}}> 3 PM 
                      <input id='time' type="checkbox" value="4 PM" name={{this}}> 4 PM
                      <input id='time' type="checkbox" value="5 PM" name={{this}}> 5 PM
                      <input id='time' type="checkbox" value="6 PM" name={{this}}> 6 PM
                      <input id='time' type="checkbox" value="7 PM" name={{this}}> 7 PM
                      <input id='time' type="checkbox" value="8 PM" name={{this}}> 8 PM
                      <input id='time' type="checkbox" value="9 PM" name={{this}}> 9 PM
                    </fieldset>
                  </div>
                </div>
              </div>
              <hr>
              {{/each}}
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>  
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="public/js/addTime.js"></script>
<script src="public/js/validateCheckboxes.js"></script>
